@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --headings-font: "Handlee", cursive;
  --primary-color: rgb(240, 37, 37);
  --light-grey-color: rgb(243, 243, 243);
  --dark-color: rgb(46, 46, 46);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

p {
  line-height: 1.5rem;
  padding: 0.5rem 0rem;
}

#IMG_8{
  width: 20%;
}
#IMG_9{
  width: 30%;
}

#DIV_1 {
  block-size: 297.1px;
  border-block-end-color: rgb(129, 138, 145);
  border-block-end-style: solid;
  border-block-start-color: rgb(129, 138, 145);
  border-block-start-style: solid;
  border-end-end-radius: 3px;
  border-end-start-radius: 3px;
  border-inline-end-color: rgb(129, 138, 145);
  border-inline-end-style: solid;
  border-inline-start-color: rgb(129, 138, 145);
  border-inline-start-style: solid;
  border-start-end-radius: 3px;
  border-start-start-radius: 3px;
  bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px 0px;
  box-sizing: border-box;
  caret-color: rgb(51, 51, 51);
  color: rgb(51, 51, 51);
  column-rule-color: rgb(51, 51, 51);
  display: flex;
  height: 297.1px;
  inline-size: 353.325px;
  inset-block-end: 0px;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  left: 0px;
  min-block-size: 100%;
  min-height: 100%;
  min-inline-size: auto;
  min-width: auto;
  perspective-origin: 176.663px 148.55px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(51, 51, 51);
  text-emphasis-color: rgb(51, 51, 51);
  text-size-adjust: 100%;
  top: 0px;
  transform-origin: 176.663px 148.55px;
  width: 353.325px;
  background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px solid rgb(129, 138, 145);
  border-radius: 3px;
  flex-flow: column nowrap;
  font: 15px / 26.25px rubik;
  outline: rgb(51, 51, 51) none 0px;
  overflow: hidden;
  transition: all 0.25s ease 0s;
}

#DIV_2 {
  block-size: 230.7px;
  border-block-end-color: rgb(51, 51, 51);
  border-block-start-color: rgb(51, 51, 51);
  border-inline-end-color: rgb(51, 51, 51);
  border-inline-start-color: rgb(51, 51, 51);
  box-sizing: border-box;
  caret-color: rgb(51, 51, 51);
  color: rgb(51, 51, 51);
  column-rule-color: rgb(51, 51, 51);
  height: 230.7px;
  inline-size: 353.325px;
  margin-block-start: 20px;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  padding-inline-end: 30px;
  padding-inline-start: 30px;
  perspective-origin: 176.663px 115.35px;
  text-decoration: none solid rgb(51, 51, 51);
  text-emphasis-color: rgb(51, 51, 51);
  text-size-adjust: 100%;
  transform-origin: 176.663px 115.35px;
  width: 353.325px;
  border: 0px none rgb(51, 51, 51);
  flex: 1 1 auto;
  flex-flow: column nowrap;
  font: 15px / 26.25px rubik;
  margin: 20px 0px 0px;
  outline: rgb(51, 51, 51) none 0px;
  padding: 0px 30px;
}


h1,
h2,
h3 {
  font-family: "Quicksand", sans-serif;
}

.container {
  max-width: 1100px;
  padding: 0px 20px;
  margin: auto;
}

body {
  background-color: var(--light-grey-color);
}

img {
  width: 100%;
}

.sports-category {
  background-color: orange;
}

.entertainment-category {
  background-color: rgb(186, 98, 197);
}

.technology-category {
  background-color: rgb(0, 151, 245);
}

nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.options a {
  text-decoration: none;
  padding: 10px 15px;
  font-size: 1.05rem;
  font-weight: 400;
  color: black;
  letter-spacing: 1px;
  float: left;
}

.options a:hover {
  background-color: var(--light-grey-color);
  color: black !important;
}

.current {
  background-color: var(--primary-color);
  color: white !important;
}

.editor-h1 {
  font-size: 1.6rem;
  margin: 1rem 0rem;
  letter-spacing: 1px;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.articles > a:nth-child(1),
.articles > a:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-column: 1 / span 2;
  align-items: center;
}

.articles > a:last-child {
  grid-column: 2 / span 2;
}

.articles > a:nth-child(2) {
  background-color: var(--dark-color);
  color: white;
}

.articles > a:nth-child(6) {
  background-color: var(--primary-color);
  color: white;
}

.card {
  background-color: white;
  padding: 1rem;
  text-decoration: none;
  color: black;
}

.card:hover {
  box-shadow: 3px 5px 10px rgb(199, 199, 199);
}

footer {
  background-color: var(--dark-color);
  color: rgb(51, 51, 51);
  color: white;
  height: 100%;
  padding: 2rem 0rem;
  margin-top: 1rem;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

.footer h4 {
  margin-bottom: 1rem;
}

.footer p {
  font-size: 0.95rem;
  text-align: left;
}

.footer .logo {
  margin: 0rem;
  margin-bottom: 1rem;
}

.footer article:nth-child(3) p {
  border-bottom: 1px dotted rgb(82, 82, 82);
}

.footer input {
  width: 100%;
  padding: 0.5rem;
  margin: 5px 0px;
}

.footer article:nth-child(2) a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 0.5rem;
  background-color: var(--primary-color);
}

.footer article:last-child a {
  display: inline-block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 0.6rem 0.8rem;
  background-color: orange;
  margin-top: 0.7rem;
}


